# ==========================================
# 💻 CONFIGURAÇÕES LOCAIS
# ==========================================
NEXT_PUBLIC_APP_URL= ALTERAR

# ==========================================
# 🗄️ SUPABASE LOCAL (DOCKER)
# ==========================================
NEXT_PUBLIC_SUPABASE_URL= cole_aqui_a_url_do_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY= cole_aqui_a_anon_key_do_docker
SUPABASE_SERVICE_ROLE_KEY=cole_aqui_a_service_role_key_do_docker

# ==========================================
# 🔑 APIS DE TERCEIROS
# ==========================================
# Pagamentos
ABACATEPAY_API_KEY=
PAGARME_SECRET_KEY=
PAGARME_WEBHOOK_SECRET=

# Google Auth
GOOGLE_CLIENT_ID=548889700265-bdlvibtakko8p1qsc95elaa1e7dnjk8t.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET= ALTERAR